<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="description" content="Male_Fashion Template">
<meta name="keywords" content="Male_Fashion, unica, creative, html">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Book-lib</title>
<link rel="icon" href="/img/logo-3.png">
<!-- Google Font -->
<link
	href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
	rel="stylesheet">

<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>

<body>
	<script th:if="${session.AddToCartErr != null}">
		swal("Lỗi", "Vui lòng đăng nhập trước khi thực hiện thao tác!", "error");
	</script>
	<p th:if="${session.AddToCartErr != null}"
		th:text="${#session.setAttribute('AddToCartErr', null)}"
		style="display: none;"></p>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Offcanvas Menu Begin -->
	<div class="offcanvas-menu-overlay"></div>
	<div class="offcanvas-menu-wrapper">
		<div class="offcanvas__option">
			<div class="offcanvas__links">
				<a th:if="${session.acc == null}" th:href="@{/signin}">Đăng nhập</a> <a
					th:if="${session.acc != null}" th:text="${session.acc.user_Name}"
					style="color: white;"></a> <a th:if="${session.acc != null}"
					th:href="@{/signout}">Đăng xuất</a><a href="#">FAQs</a>
			</div>
			<div class="offcanvas__top__hover">
				<span>Usd <i class="arrow_carrot-down"></i></span>
				<ul>
					<li>USD</li>
					<li>EUR</li>
					<li>USD</li>
				</ul>
			</div>
		</div>
		<div class="offcanvas__nav__option">
			<a href="#" class="search-switch"><img src="/img/icon/search.png"
				alt=""></a> <a href="#"><img src="/img/icon/heart.png" alt=""></a>
			<a th:href="@{/cart}"><img src="/img/icon/cart.png" alt="">
				<span th:text="${session.countCart}"></span></a>
		</div>
		<div id="mobile-menu-wrap"></div>
		<div class="offcanvas__text">
			<p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
		</div>
	</div>
	<!-- Offcanvas Menu End -->

	<!-- Header Section Begin -->
	<header class="header">
		<div class="header__top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-7">
						<div class="header__top__left">
							<p>Miễn phí vận chuyển, đảm bảo hoàn trả hoặc hoàn tiền trong 30 ngày.</p>
						</div>
					</div>
					<div class="col-lg-6 col-md-5">
						<div class="header__top__right">
							<div class="header__top__links">
								<a th:if="${session.acc == null}" th:href="@{/signin}">Đăng nhập
									</a> <a th:if="${session.acc != null}"
									th:text="${session.acc.user_Name}" style="color: white;"></a> <a
									th:if="${session.acc != null}" th:href="@{/signout}">Đăng xuất
									</a><a href="#">FAQs</a>
							</div>
							<div class="header__top__hover">
								<span>Usd <i class="arrow_carrot-down"></i></span>
								<ul>
									<li>USD</li>
									<li>EUR</li>
									<li>USD</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="header__logo">
						<a th:href="@{/home}" id="logo-container">NTD Book</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<nav class="header__menu mobile-menu">
						<ul>
							<li><a th:href="@{/home}">Trang chủ</a></li>
							<li class="active"><a th:href="@{/shop}">Cửa hàng</a></li>
							<li><a href="#">Pages</a>
                                <ul class="dropdown">
                                	<li><a th:href="@{/cart}">Giỏ hàng</a></li>
									<li><a th:href="@{/myprofile}">Tài khoản</a></li>
									<li><a th:href="@{/myhistory}">Lịch sử</a></li>
									<li><a th:href="@{/about}">Về chúng tôi</a></li>
                                </ul></li>
							<li><a th:href="@{/blog}">Blog</a></li>
							<li><a th:href="@{/contact}">Liên hệ</a></li>
						</ul>
					</nav>
				</div>
				<div class="col-lg-3 col-md-3">
					<div class="header__nav__option">
						<a href="#" class="search-switch"><img
							src="/img/icon/search.png" alt=""></a> <a href="#"><img
							src="/img/icon/heart.png" alt=""></a> <a th:href="@{/cart}"><img
							src="/img/icon/cart.png" alt=""> <span
							th:text="${session.countCart}"></span></a>
					</div>
				</div>
			</div>
			<div class="canvas__open">
				<i class="fa fa-bars"></i>
			</div>
		</div>
	</header>
	<!-- Header Section End -->

	<!-- Shop Details Section Begin -->
	<section class="shop-details">
		<div class="product__details__pic">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="product__details__breadcrumb">
							<a th:href="@{/home}">Trang chủ</a> <a th:href="@{/shop}">Cửa hàng</a> <span>Sản phẩm chi tiết
								</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-3">
						<ul class="nav nav-tabs" role="tablist">
							<th:block th:if="${yStat.index == 0}"
								th:each="y : ${product.productImage}">
								<li class="nav-item"><a class="nav-link active"
									data-toggle="tab" th:href="'#tabs-'+${yStat.index + 1}"
									role="tab">
										<div class="product__thumb__pic set-bg"
											th:data-setbg="${y.url_Image}"></div>
								</a></li>
							</th:block>
							<th:block th:if="${yStat.index != 0}"
								th:each="y : ${product.productImage}">
								<li class="nav-item"><a class="nav-link" data-toggle="tab"
									th:href="'#tabs-'+${yStat.index + 1}" role="tab">
										<div class="product__thumb__pic set-bg"
											th:data-setbg="${y.url_Image}"></div>
								</a></li>
							</th:block>
						</ul>
					</div>
					<div class="col-lg-6 col-md-9">
						<div class="tab-content">
							<th:block th:each="y : ${product.productImage}">
								<div th:if="${yStat.index == 0}" class="tab-pane active"
									th:id="'tabs-'+${yStat.index + 1}" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${y.url_Image}" alt="">
									</div>
								</div>
								<div th:if="${yStat.index != 0}" class="tab-pane"
									th:id="'tabs-'+${yStat.index + 1}" role="tabpanel">
									<div class="product__details__pic__item">
										<img th:src="${y.url_Image}" alt="">
									</div>
								</div>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product__details__content">
			<div class="container">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-8">
						<div class="product__details__text">
							<h4 th:text="${product.product_Name}"></h4>
							<div class="rating">
								<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
									class="fa fa-star"></i> <i class="fa fa-star"></i> <i
									class="fa fa-star-o"></i> <span> - 5 Đánh giá</span>
							</div>
							<h3 th:text="${product.price}+' VNĐ'"></h3>
							<p th:text="${product.description}"></p>
							<form action="/addToCart" method="post">
								<div class="product__details__cart__option">
									<div class="quantity">
										<div class="pro-qty">
											<input name="count" type="text" value="1">
										</div>
										<input name="product_id" style="display: none;" type="text"
											th:value="${product.id}">
									</div>
									<button class="primary-btn">Thêm vào giỏ hàng</button>
								</div>
							</form>

							<div class="product__details__btns__option">
								<a href="#"><i class="fa fa-heart"></i> Thêm vào danh sách mong muốn</a> <a
									href="#"><i class="fa fa-exchange"></i> Thêm vào để so sánh</a>
							</div>
							<div class="product__details__last__option">
								<h5>
									<span>Đảm bảo thanh toán an toàn</span>
								</h5>
								<img src="/img/shop-details/details-payment.png" alt="">
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- Shop Details Section End -->

	<!-- Related Section Begin -->
	<section class="related spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="related-title">Sản phẩm khác</h3>
				</div>
			</div>
			<div class="row">
				<th:block th:each="y : ${relatedProduct}">
					<div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">
						<div class="product__item">
							<div class="product__item__pic set-bg"
								th:data-setbg="${y.productImage[0].url_Image}">
								<span class="label">Mới</span>
								<ul class="product__hover">
									<li><a href="#"><img src="/img/icon/heart.png" alt=""></a></li>
									<li><a href="#"><img src="/img/icon/compare.png"
											alt=""> <span>So sánh</span></a></li>
									<li><a th:href="@{/productDetail/{id}(id=${y.id})}"><img
											src="/img/icon/search.png" alt=""></a></li>
								</ul>
							</div>
							<div class="product__item__text">
								<h6 th:text="${y.product_Name}"></h6>
								<a th:href="@{/addToCart/{id}(id=${y.id})}" class="add-cart">+
									Thêm vào giỏ hàng</a>
								<div class="rating">
									<i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i
										class="fa fa-star-o"></i>
								</div>
								<h5
									th:text=" ${#numbers.formatDecimal(y.price, 0, 'COMMA', 0, 'POINT')} + ' VNĐ'"></h5>
								<div class="product__color__select">
									<label for="pc-1"> <input type="radio" id="pc-1">
									</label> <label class="active black" for="pc-2"> <input
										type="radio" id="pc-2">
									</label> <label class="grey" for="pc-3"> <input type="radio"
										id="pc-3">
									</label>
								</div>
							</div>
						</div>
					</div>
				</th:block>
			</div>
		</div>
	</section>
	<!-- Related Section End -->

	<!-- Footer Section Begin -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="footer__about">
						<div class="footer__logo">
							
						</div>
						<p>Độc giả luôn là đối tượng chúng tôi quan tâm và hướng đến.</p>
						<a href="#"><img src="img/payment.png" alt=""></a>
					</div>
				</div>
				<div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Thể loại</h6>
						<ul>
							<li><a href="#">Truyện tranh</a></li>
							<li><a href="#">Sách tâm lý</a></li>
							<li><a href="#">Truyện ngắn</a></li>
							<li><a href="#">Hồi kí</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-3 col-sm-6">
					<div class="footer__widget">
						<h6>Shopping</h6>
						<ul>
							<li><a href="#">Liên hệ</a></li>
							<li><a href="#">Hình thức thanh toán</a></li>
							<li><a href="#">Vận chuyển</a></li>
							<li><a href="#">Đổi trả</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
					<div class="footer__widget">
						<h6>Tin tức</h6>
						<div class="footer__newslatter">
							<p>Trở thành người đầu tiên nhận được những thông tin mới!!</p>
							<form action="#">
								<input type="text" placeholder="Your email">
								<button type="submit">
									<span class="icon_mail_alt"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<div class="footer__copyright__text">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						<p>
							Copyright ©
							<script>
								document.write(new Date().getFullYear());
							</script>
							2020 All rights reserved | This template is made with <i
								class="fa fa-heart-o" aria-hidden="true"></i> by <a
								href="https://colorlib.com" target="_blank">Colorlib</a>
						</p>
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section End -->

	<!-- Search Begin -->
	<div class="search-model">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-switch">+</div>
			<form th:action="@{/search}" method="POST" class="search-model-form">
				<input name="search-input" type="text" id="search-input"
					placeholder="Search here.....">
			</form>
		</div>
	</div>
	<!-- Search End -->

	<!-- Js Plugins -->
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/jquery.nice-select.min.js"></script>
	<script src="/js/jquery.nicescroll.min.js"></script>
	<script src="/js/jquery.magnific-popup.min.js"></script>
	<script src="/js/jquery.countdown.min.js"></script>
	<script src="/js/jquery.slicknav.js"></script>
	<script src="/js/mixitup.min.js"></script>
	<script src="/js/owl.carousel.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>